<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cadastro de Exame</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body class="bg-light">

  <div class="container mt-5">
    <div class="row justify-content-center">

      <div class="col-md-6">
        <div class="card shadow-lg p-4">

          <!-- Botão Home -->
          <a th:href="@{/home}" class="btn btn-outline-primary mb-3">
            <i class="bi bi-house-door"></i> Home
          </a>

          <h3 class="text-center fw-bold mb-4">
            <i class="bi bi-file-medical me-2 text-info"></i>
            Cadastro de Exame
          </h3>

          <form th:action="@{/exames/salvar}" method="post" th:object="${exame}">
            <input type="hidden" th:field="*{id}" />

            <div class="mb-3">
              <label class="form-label">Nome do Exame</label>
              <input type="text" class="form-control" th:field="*{nomeExame}" required>
            </div>

            <div class="d-flex justify-content-between">
              <a th:href="@{/exames/listar}" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Voltar
              </a>

              <button type="submit" class="btn btn-primary">
                <i class="bi bi-check-circle me-1"></i> Salvar
              </button>
            </div>

          </form>

        </div>
      </div>

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
