<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lista de Médicos</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="bg-light">

  <div class="container mt-5">

    <!-- Botão Home via Thymeleaf -->
    <a th:href="@{/home}" class="btn btn-outline-primary mb-4">
      <i class="bi bi-house-door"></i> Home
    </a>

    <h1 class="text-center mb-4">Lista de Médicos</h1>

    <h3 class="text-center mb-3">
      <a href="/medicos/criar" class="btn btn-success">
        Cadastrar
      </a>
    </h3>

    <table class="table table-striped table-bordered">
      <thead class="table-primary">
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Especialidade</th>
          <th colspan="2" class="text-center">Ações</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="medico : ${medicos}">
          <td th:text="${medico.id}"></td>
          <td th:text="${medico.nome}"></td>
          <td th:text="${medico.especialidade}"></td>
          <td class="text-center">
            <a th:href="@{/medicos/editar/{id}(id=${medico.id})}" class="btn btn-primary btn-sm">Editar</a>
            <a th:href="@{/medicos/excluir/{id}(id=${medico.id})}" class="btn btn-danger btn-sm">Excluir</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</body>
</html>
